<div class="wrapper">
  <!-- Navbar -->
  <div id="navbar" class="d-inline-block">
    <nav class="text-center">
      <a [routerLink]="['']">
        <img src="https://image.flaticon.com/icons/svg/2111/2111624.svg" alt="logo" />
      </a>
      <ul class="navbar-nav text-center">
        <li class="nav-item active">
          <a [routerLink]="['']" class="nav-link">
            <i class="fas fa-user"></i>
            <p>Profile</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/artists']" class="nav-link">
            <i class="fas fa-microphone-stand"></i>
            <p>Top Artists</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/tracks']" class="nav-link">
            <i class="fas fa-music"></i>
            <p>Top Tracks</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/recent']" class="nav-link">
            <i class="fas fa-history"></i>
            <p>Recent</p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/playlists']" class="nav-link">
            <i class="fas fa-list-music"></i>
            <p>Playlist</p>
          </a>
        </li>
      </ul>
      <div class="bottom text-center">
        <a href="https://github.com/nathannewyen/spotify_project" target="_blank" class="nav-link">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </nav>
  </div>
  <!-- End Navbar -->

  <!-- Content -->
  <ngx-spinner bdColor="#191919" size="medium" color="#959595" type="line-scale" [fullScreen]="true">
  </ngx-spinner>
  <div id="content" class="d-inline-block" *ngIf="visible">
    <router-outlet></router-outlet>
  </div>
</div>
