<div class="recent">
  <h4>Recently Played Tracks</h4>

  <div class="recent-song">
    <ul *ngFor="let recent of user_current_tracks">
      <li>
        <div class="image d-inline-block">
          <img src="{{recent.track.album.images[2].url}}" alt="{{recent.track.name}}" class="d-inline-block">
          <a class="track-link text-light" [routerLink]="['/tracks', recent.track.id]">
            <span class="fas fa-info-circle"></span>
          </a>
        </div>
        <div class="info d-inline-block">
          <span class="song">{{ recent.track.name }}</span>
          <br>
          <span class="artist-name text-secondary">
            {{ recent.track.artists[0].name }}・{{ recent.track.name }}
          </span>
        </div>
        <p class="d-inline-block time text-secondary float-right">{{recent.track.duration_ms | date:'m:ss'}}</p>
      </li>
    </ul>
  </div>
</div>
