@media (min-width: 1600px) {
  .container-fluid {
    min-height: 100vh;
    padding: 100px !important;
    margin-left: 8vw;
    width: 90%;

    // Left
    .left {
      div {
        margin-top: 5px;
      }

      img {
        width: 350px !important;
        height: 350px !important;
      }

      .name {
        font-size: 28px;
        font-weight: 700;
        width: 450px !important;
        margin: 10px auto;
      }

      .owner,
      .description {
        font-size: 14px;
        font-weight: 400;
        color: #9b9b9b;
      }

      .description {
        width: 450px !important;
        margin: 10px auto;

        ::ng-deep {
          a {
            color: white;
          }
        }
      }

      .track-total {
        font-size: 14px;
        font-weight: 400;
      }

      .btn-recommend {
        margin-top: 10px;
        padding: 8px 30px;
        border-radius: 50px;
        background-color: #1ab954;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }

      .btn-recommend:hover {
        background-color: #1bd760;
        transition-timing-function: ease-in;
        transition: 0.3s;
      }

      .chart-wrapper {
        width: 450px;
        margin: 20px auto;

        h4 {
          font-size: 18px;
          padding: 10px;
          font-weight: 900;
        }
      }
    }

    // End left

    // Right
    .right {
      img {
        width: 50px;
      }

      ul {
        li {
          list-style: none;
          padding: 8px 10px;

          // Hover image

          .image {
            position: relative;
            display: inline-block;
            overflow: hidden;
            vertical-align: middle;

            span {
              font-size: 24px;
            }
          }

          .image:hover {
            img {
              opacity: 0.5;
              transition-timing-function: ease-in;
              transition: 0.4s;
            }
          }

          .image:hover a {
            opacity: 1;
            top: 0;
            z-index: 500;
          }

          .image:hover a span {
            top: 50%;
            position: absolute;
            left: 0;
            right: 0;
            transform: translateY(-50%);
          }

          .image a {
            display: block;
            position: absolute;
            top: 100%;
            opacity: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            color: inherit;
          }

          // End hover

          .info {
            vertical-align: middle;
            margin-left: 20px;
            font-size: 16px;

            .artist-name {
              font-size: 14px;
            }
          }
        }
      }
    }

    .time {
      font-size: 14px;
    }
  }
}


// Mac 13
@media (min-width: 1300px) {
  .container-fluid {
    min-height: 100vh;
    padding: 100px !important;
    margin-left: 8vw;
    width: 90%;

    // Left
    .left {
      div {
        margin-top: 5px;
      }

      img {
        width: 300px;
        height: 300px;
      }

      .name {
        font-size: 28px;
        font-weight: 700;
        width: 400px;
        margin: 10px auto;
      }

      .owner,
      .description {
        font-size: 14px;
        font-weight: 400;
        color: #9b9b9b;
      }

      .description {
        width: 400px;
        margin: 10px auto;

        ::ng-deep {
          a {
            color: white;
          }
        }
      }

      .track-total {
        font-size: 14px;
        font-weight: 400;
      }

      .btn-recommend {
        margin-top: 10px;
        padding: 8px 30px;
        border-radius: 50px;
        background-color: #1ab954;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }

      .btn-recommend:hover {
        background-color: #1bd760;
        transition-timing-function: ease-in;
        transition: 0.3s;
      }

      .chart-wrapper {
        width: 450px;
        margin: 20px auto;

        h4 {
          font-size: 18px;
          padding: 10px;
          font-weight: 900;
        }
      }
    }

    // End left

    // Right
    .right {
      img {
        width: 50px;
      }

      ul {
        li {
          list-style: none;
          padding: 8px 10px;

          // Hover image

          .image {
            position: relative;
            display: inline-block;
            overflow: hidden;
            vertical-align: middle;

            span {
              font-size: 24px;
            }
          }

          .image:hover {
            img {
              opacity: 0.5;
              transition-timing-function: ease-in;
              transition: 0.4s;
            }
          }

          .image:hover a {
            opacity: 1;
            top: 0;
            z-index: 500;
          }

          .image:hover a span {
            top: 50%;
            position: absolute;
            left: 0;
            right: 0;
            transform: translateY(-50%);
          }

          .image a {
            display: block;
            position: absolute;
            top: 100%;
            opacity: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            color: inherit;
          }

          // End hover

          .info {
            vertical-align: middle;
            margin-left: 20px;
            font-size: 16px;

            .artist-name {
              font-size: 14px;
            }
          }
        }
      }
    }

    .time {
      font-size: 14px;
    }
  }
}


// Macbook 13
@media (min-width: 1025px) {
  .container-fluid {
    min-height: 100vh;
    padding: 100px !important;
    margin-left: 8vw;
    width: 90%;

    // Left
    .left {
      div {
        margin-top: 5px;
      }

      img {
        width: 250px;
        height: 250px;
      }

      .name {
        font-size: 24px;
        font-weight: 700;
        width: 300px;
        margin: 10px auto;
      }

      .owner,
      .description {
        font-size: 14px;
        font-weight: 400;
        color: #9b9b9b;
      }

      .description {
        width: 300px;
        margin: 10px auto;

        ::ng-deep {
          a {
            color: white;
          }
        }
      }

      .track-total {
        font-size: 14px;
        font-weight: 400;
      }

      .btn-recommend {
        margin-top: 10px;
        padding: 8px 30px;
        border-radius: 50px;
        background-color: #1ab954;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }

      .btn-recommend:hover {
        background-color: #1bd760;
        transition-timing-function: ease-in;
        transition: 0.3s;
      }
    }

    // End left

    // Right
    .right {
      img {
        width: 50px;
      }

      ul {
        li {
          list-style: none;
          padding: 8px 10px;

          // Hover image

          .image {
            position: relative;
            display: inline-block;
            overflow: hidden;
            vertical-align: middle;

            span {
              font-size: 24px;
            }
          }

          .image:hover {
            img {
              opacity: 0.5;
              transition-timing-function: ease-in;
              transition: 0.4s;
            }
          }

          .image:hover a {
            opacity: 1;
            top: 0;
            z-index: 500;
          }

          .image:hover a span {
            top: 50%;
            position: absolute;
            left: 0;
            right: 0;
            transform: translateY(-50%);
          }

          .image a {
            display: block;
            position: absolute;
            top: 100%;
            opacity: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            color: inherit;
          }

          // End hover

          .info {
            vertical-align: middle;
            margin-left: 20px;
            font-size: 16px;

            .artist-name {
              font-size: 14px;
            }
          }
        }
      }
    }

    .time {
      font-size: 14px;
    }
  }
}


// iPad Pro
@media (min-width: 1300px) {
  .container-fluid {
    min-height: 100vh;
    padding: 100px !important;
    margin-left: 8vw;
    width: 90%;

    // Left
    .left {
      div {
        margin-top: 5px;
      }

      img {
        width: 300px;
        height: 300px;
      }

      .name {
        font-size: 28px;
        font-weight: 700;
        width: 400px;
        margin: 10px auto;
      }

      .owner,
      .description {
        font-size: 14px;
        font-weight: 400;
        color: #9b9b9b;
      }

      .description {
        width: 400px;
        margin: 10px auto;

        ::ng-deep {
          a {
            color: white;
          }
        }
      }

      .track-total {
        font-size: 14px;
        font-weight: 400;
      }

      .btn-recommend {
        margin-top: 10px;
        padding: 8px 30px;
        border-radius: 50px;
        background-color: #1ab954;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }

      .btn-recommend:hover {
        background-color: #1bd760;
        transition-timing-function: ease-in;
        transition: 0.3s;
      }

      .chart-wrapper {
        width: 450px;
        margin: 20px auto;

        h4 {
          font-size: 18px;
          padding: 10px;
          font-weight: 900;
        }
      }
    }

    // End left

    // Right
    .right {
      img {
        width: 50px;
      }

      ul {
        li {
          list-style: none;
          padding: 8px 10px;

          // Hover image

          .image {
            position: relative;
            display: inline-block;
            overflow: hidden;
            vertical-align: middle;

            span {
              font-size: 24px;
            }
          }

          .image:hover {
            img {
              opacity: 0.5;
              transition-timing-function: ease-in;
              transition: 0.4s;
            }
          }

          .image:hover a {
            opacity: 1;
            top: 0;
            z-index: 500;
          }

          .image:hover a span {
            top: 50%;
            position: absolute;
            left: 0;
            right: 0;
            transform: translateY(-50%);
          }

          .image a {
            display: block;
            position: absolute;
            top: 100%;
            opacity: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            color: inherit;
          }

          // End hover

          .info {
            vertical-align: middle;
            margin-left: 20px;
            font-size: 16px;

            .artist-name {
              font-size: 14px;
            }
          }
        }
      }
    }

    .time {
      font-size: 14px;
    }
  }
}


// Macbook 13
@media (max-width: 1024px) {
  .container-fluid {
    min-height: 100vh;
    padding: 100px !important;
    margin-left: 8vw;
    width: 90%;

    // Left
    .left {
      div {
        margin-top: 10px;
      }

      img {
        width: 250px;
        height: 250px;
      }

      .name {
        font-size: 24px;
        font-weight: 700;
        width: 300px;
        margin: 10px auto;
      }

      .owner,
      .description {
        font-size: 14px;
        font-weight: 400;
        color: #9b9b9b;
      }

      .description {
        width: 300px;
        margin: 10px auto;

        ::ng-deep {
          a {
            color: white;
          }
        }
      }

      .track-total {
        font-size: 14px;
        font-weight: 400;
      }

      .btn-recommend {
        margin-top: 10px;
        padding: 8px 30px;
        border-radius: 50px;
        background-color: #1ab954;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
      }

      .btn-recommend:hover {
        background-color: #1bd760;
        transition-timing-function: ease-in;
        transition: 0.3s;
      }

      .chart-wrapper {
        width: 300px;
        margin: 20px auto;

        h4 {
          font-size: 18px;
          padding: 10px;
          font-weight: 900;
        }
      }
    }

    // End left

    // Right
    .right {
      img {
        width: 50px;
      }

      ul {
        li {
          list-style: none;
          padding: 8px 10px;

          // Hover image

          .image {
            position: relative;
            display: inline-block;
            overflow: hidden;
            vertical-align: middle;

            span {
              font-size: 24px;
            }
          }

          .image:hover {
            img {
              opacity: 0.5;
              transition-timing-function: ease-in;
              transition: 0.4s;
            }
          }

          .image:hover a {
            opacity: 1;
            top: 0;
            z-index: 500;
          }

          .image:hover a span {
            top: 50%;
            position: absolute;
            left: 0;
            right: 0;
            transform: translateY(-50%);
          }

          .image a {
            display: block;
            position: absolute;
            top: 100%;
            opacity: 0;
            left: 0;
            bottom: 0;
            right: 0;
            text-align: center;
            color: inherit;
          }

          // End hover

          .info {
            vertical-align: middle;
            margin-left: 20px;
            font-size: 16px;

            .artist-name {
              font-size: 14px;
            }
          }
        }
      }
    }

    .time {
      font-size: 14px;
    }
  }
}
