.container-fluid {
  .info {
    margin-top: 100px;
  }

  img {
    width: 320px;
    height: 320px;
    border-radius: 160px;
  }

  h2 {
    margin-top: 20px;
  }

  ul .follower,
  .popular {
    vertical-align: top;
  }

  ul li {
    padding: 10px;
  }

}
