// iMac 27
@media (min-width: 1600px) {
  .artists {
    min-height: 100vh;
    width: 80% !important;
    padding: 100px;
    margin: 0 auto;

    h3 {
      margin-left: 100px;
      margin-bottom: 50px;
    }

    .btn {
      margin: 0px 5px;
      background-color: Transparent;
      background-repeat: no-repeat;
      cursor: pointer;
      overflow: hidden;
      color: gray;
    }

    .btn:hover {
      color: white;
      transition-timing-function: ease-in;
      transition: 0.3s;
      text-decoration: underline;
    }

    .four-weeks {
      height: 100%;
    }

    ul {

      li {
        list-style: none;
        display: inline-block;
        padding: 15px 25px;

        // Hover image

        .image {
          position: relative;
          display: inline-block;
          overflow: hidden;
          vertical-align: middle;

          span {
            font-size: 30px;
          }
        }

        .image:hover {
          img {
            opacity: 0.5;
            transition-timing-function: ease-in;
            transition: 0.4s;
          }
        }

        .image:hover a {
          opacity: 1;
          top: 0;
          z-index: 500;
        }

        .image:hover a span {
          top: 50%;
          position: absolute;
          left: 0;
          right: 0;
          transform: translateY(-50%);
        }

        .image a {
          display: block;
          position: absolute;
          top: 100%;
          opacity: 0;
          left: 0;
          bottom: 0;
          right: 0;
          text-align: center;
          color: inherit;
        }

        // End hover


        img {
          width: 200px;
          height: 200px;
          border-radius: 200px;
        }

        a {
          color: white;
        }



        p {
          padding: 10px;
        }
      }
    }

  }
}



// Macbook 13 - 15
@media (min-width: 1025px) {
  .artists {
    min-height: 100vh;
    padding: 100px;
    margin: 0 auto;

    h3 {
      margin-left: 100px;
      margin-bottom: 50px;
    }

    .btn {
      margin: 0px 5px;
      background-color: Transparent;
      background-repeat: no-repeat;
      cursor: pointer;
      overflow: hidden;
      color: gray;
    }

    .btn:hover {
      color: white;
      transition-timing-function: ease-in;
      transition: 0.3s;
      text-decoration: underline;
    }

    .four-weeks {
      height: 100%;
    }

    ul {

      li {
        list-style: none;
        display: inline-block;
        padding: 15px 25px;

        // Hover image

        .image {
          position: relative;
          display: inline-block;
          overflow: hidden;
          vertical-align: middle;

          span {
            font-size: 30px;
          }
        }

        .image:hover {
          img {
            opacity: 0.5;
            transition-timing-function: ease-in;
            transition: 0.4s;
          }
        }

        .image:hover a {
          opacity: 1;
          top: 0;
          z-index: 500;
        }

        .image:hover a span {
          top: 50%;
          position: absolute;
          left: 0;
          right: 0;
          transform: translateY(-50%);
        }

        .image a {
          display: block;
          position: absolute;
          top: 100%;
          opacity: 0;
          left: 0;
          bottom: 0;
          right: 0;
          text-align: center;
          color: inherit;
        }

        // End hover

        img {
          width: 200px;
          height: 200px;
          border-radius: 200px;
        }

        a {
          color: white;
        }



        p {
          padding: 10px;
        }
      }
    }

  }

}


// iPad Pro
@media (max-width: 1024px) {
  .artists {
    min-height: 100vh;
    padding: 100px;
    margin: 0 auto;

    h3 {
      margin-left: 100px;
      margin-bottom: 50px;
    }

    .btn {
      margin: 0px 5px;
      background-color: Transparent;
      background-repeat: no-repeat;
      cursor: pointer;
      overflow: hidden;
      color: gray;
    }

    .btn:hover {
      color: white;
      transition-timing-function: ease-in;
      transition: 0.3s;
      text-decoration: underline;
    }

    .four-weeks {
      height: 100%;
    }

    ul {

      li {
        list-style: none;
        display: inline-block;
        padding: 15px 25px;

        // Hover image

        .image {
          position: relative;
          display: inline-block;
          overflow: hidden;
          vertical-align: middle;

          span {
            font-size: 30px;
          }
        }

        .image:hover {
          img {
            opacity: 0.5;
            transition-timing-function: ease-in;
            transition: 0.4s;
          }
        }

        .image:hover a {
          opacity: 1;
          top: 0;
          z-index: 500;
        }

        .image:hover a span {
          top: 50%;
          position: absolute;
          left: 0;
          right: 0;
          transform: translateY(-50%);
        }

        .image a {
          display: block;
          position: absolute;
          top: 100%;
          opacity: 0;
          left: 0;
          bottom: 0;
          right: 0;
          text-align: center;
          color: inherit;
        }

        // End hover

        img {
          width: 200px;
          height: 200px;
          border-radius: 200px;
        }

        a {
          color: white;
        }



        p {
          padding: 10px;
        }
      }
    }

  }

}
