<div *ngIf="!userService.getLoginStatus()" class="login text-center">

  <a href="#!">
    <img src="https://www.logo.wine/a/logo/Spotify/Spotify-Black-Logo.wine.svg" alt="logo" />
  </a>
  <hr>
  <div>
    <a [href]="loginUrl">
      <button type="submit" class="btn btn-login text-light">
        Login
      </button>
    </a>
  </div>
  <div class="or-line">
    <hr class="line">
    <p class="or">OR</p>
    <hr class="line">
  </div>
  <div>
    <a href="https://www.spotify.com/us/signup/">
      <button type="submit" class="btn btn-register btn-outline-secondary">
        Register
      </button>
    </a>
  </div>
</div>

<!-- After log in -->
<div class="index" *ngIf="userService.getLoginStatus()">
  <app-user></app-user>


  <div class="container-fluid">
    <div class="info row">
      <div class="col artists">
        <div class="row left-panel">
          <div class="col top-artists">
            <h5 class="text-left">Top Artists of All Time</h5>
            <ul *ngFor="let artist of topArtistsLongTerm; let index = index">
              <li class="text-left" *ngIf="index < 10">
                <a class="image-link" href="{{ artist.external_urls.spotify }}">
                  <img src="{{artist.images[1].url}}" alt="{{artist.name}}">
                </a>
                <a class="name-link text-light" href="{{ artist.external_urls.spotify }}">
                  <span>{{ artist.name }}</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col see-more">
            <button type="submit" class="btn btn-outline-light float-right" [routerLink]="['/artists']">
              SEE MORE
            </button>
          </div>
        </div>
      </div>
      <div class="col tracks">
        <div class="row right-panel">
          <div class="col top-tracks">
            <h5 class="text-left">Top Tracks of All Time</h5>
            <ul *ngFor="let track of topTracksShortTerm; let index = index">
              <li class=" text-left" *ngIf="index < 10">
                <a class="image-link" href="{{ track.external_urls.spotify }}">
                  <img src="{{track.album.images[1].url}}" alt="test">
                </a>
                <div class="artist-info">
                  <a class="track-link text-light" href="{{ track.external_urls.spotify }}">
                    <span class="song">{{ track.name }}</span>
                  </a>
                  <br>
                  <span class="artist-name">{{ track.artists[0].name }}</span>
                </div>
              </li>
            </ul>
          </div>
          <div class="col see-more">
            <button type="submit" class="btn btn-outline-light float-right" [routerLink]="['/tracks']">
              SEE MORE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
