<div id="profile">
  <img
    src="https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-1/p320x320/103272805_1669628073194231_6342222041675484415_n.jpg?_nc_cat=102&_nc_sid=0c64ff&_nc_ohc=54d51hMCTWYAX-xRZ4J&_nc_ht=scontent-atl3-1.xx&_nc_tp=6&oh=6c36257a2ff98bf952e25b862136afa0&oe=5F0A6ECA"
    alt="profile-photo">
  <h1>Nhan Nguyen</h1>
  <ul class="list-inline">
    <li class="list-inline-item">
      <h5>12</h5>
      <p>Followers</p>
    </li>
    <li class="list-inline-item">
      <h5>4</h5>
      <p>Following</p>
    </li>
    <li class="list-inline-item">
      <h5>8</h5>
      <p>Playlists</p>
    </li>
  </ul>

  <button type="submit" class="btn btn-outline-light">LOGOUT</button>
</div>

<div class="container-fluid">
  <div class="info row">
    <div class="col artists">
      <h5 class="text-left">Top Artists of All Time</h5>
      <button type="submit" class="btn btn-outline-light ">SEE MORE</button>
      <ul>
        <li class="text-left">
          <img src="https://i.scdn.co/image/8eaace74aaca82eaccde400bbcab2653b9cf86e1" alt="test">
          <span>Drake</span>
        </li>
        <li class="text-left">
          <img src="https://i.scdn.co/image/36235a9233a74be64a525f7998f0e94e78eb63e3" alt="test">
          <span>Justin Bieber</span>
        </li>
        <li class="text-left">
          <img src="https://i.scdn.co/image/712454ec150afd9d3e788858e3c970e157f6e535" alt="test">
          <span>Lauv</span>
        </li>
      </ul>
    </div>
    <div class="col tracks">
      <h5 class="text-left">Top Tracks of All Time</h5>
      <button type="submit" class="btn btn-outline-light">SEE MORE</button>
      <ul>
        <li class="text-left">
          <img src="https://i.scdn.co/image/ab67616d000048512004870e68f1d7f0a101ce71" alt="test">
          <div class="artist-info">
            <span class="song">I'm so tired...</span>
            <br>
            <span class="artist-name">Lauv, Troye Sivan</span>
          </div>
        </li>
        <li class="text-left">
          <img src="https://i.scdn.co/image/ab67616d00004851638c13974c6fcfda8017e5d9" alt="test">
          <div class="artist-info">
            <span class="song">Sorry</span>
            <br>
            <span class="artist-name">Justin Bieber</span>
          </div>
        </li>
        <li class="text-left">
          <img src="https://i.scdn.co/image/ab67616d0000485156ac7b86e090f307e218e9c8" alt="test">
          <div class="artist-info">
            <span class="song">ghostin</span>
            <br>
            <span class="artist-name">Arianna Grande</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
