<div *ngIf="!userService.getLoginStatus()" class="login">
  <h1>What have I listened to?</h1>
  <a [href]="loginUrl" class="button button--large button--ah-blue">Login</a>
</div>

<!-- After log in -->
<div class="index" *ngIf="userService.getLoginStatus()">
  <app-user></app-user>


  <div class="container-fluid">
    <div class="info row">
      <div class="col artists">
        <h5 class="text-left">Top Artists of All Time</h5>
        <button type="submit" class="btn btn-outline-light ">SEE MORE</button>
        <ul *ngFor="let artist of topArtistsShortTerm; let index = index">
          <li class="text-left" *ngIf="index < 5">
            <img src="{{artist.images[1].url}}" alt="test">
            <span>{{ artist.name }}</span>
          </li>
        </ul>
      </div>
      <div class="col tracks">
        <h5 class="text-left">Top Tracks of All Time</h5>
        <button type="submit" class="btn btn-outline-light">SEE MORE</button>
        <ul *ngFor="let track of topTracksShortTerm; let index = index">
          <li class=" text-left" *ngIf="index < 5">
            <img src="{{track.album.images[1].url}}" alt="test">
            <div class="artist-info">
              <span class="song">{{ track.name }}</span>
              <br>
              <span class="artist-name">{{ track.artists[0].name }}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
