<div class="container-fluid" *ngIf="track">
  <div class="info">
    <img
      class="shadow d-inline-block"
      src="{{ track.album.images[0].url }}"
      alt="track-profile"
    />
    <div class="track-info d-inline-block">
      <div class="track-name">
        {{ track.name }}
      </div>
      <div class="track-artist" *ngFor="let info of track.artists">
        {{ info.name }}
      </div>
      <div class="track-song">
        {{ track.name }}・{{ track.album.release_date | date: "y" }}
      </div>
      <button class="btn text-light btn-play" type="submit">
        Play on spotify
      </button>
    </div>

    <table class="table table-borderless text-center">
      <thead>
        <tr *ngIf="trackFeature">
          <th>
            <div class="main">
              {{ track.duration_ms | date: "m:ss" }}
            </div>
            <div class="sub">Duration</div>
          </th>
          <th>
            <div class="main">
              {{ notations[trackFeature.key] || "Key unavailable" }}
            </div>
            <div class="sub">Key</div>
          </th>
          <th>
            <div class="main" *ngIf="trackFeature.mode == 1">Major</div>
            <div class="main" *ngIf="trackFeature.mode != 1">Minor</div>
            <div class="sub">Modality</div>
          </th>
          <th>
            <div class="main">{{ trackFeature.time_signature }}</div>
            <div class="sub">Time Signature</div>
          </th>
          <th>
            <div class="main">{{ trackFeature.tempo | number: "1.0-0" }}</div>
            <div class="sub">Tempo (BPM)</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="trackAudio">
          <td>
            <div class="main">{{ track.popularity }}%</div>
            <div class="sub">Popularity</div>
          </td>
          <td>
            <div class="main">{{ trackAudio.bars.length }}</div>
            <div class="sub">Bars</div>
          </td>
          <td>
            <div class="main">{{ trackAudio.beats.length }}</div>
            <div class="sub">Beats</div>
          </td>
          <td>
            <div class="main">{{ trackAudio.sections.length }}</div>
            <div class="sub">Sections</div>
          </td>
          <td>
            <div class="main">{{ trackAudio.segments.length }}</div>
            <div class="sub">Segments</div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="chart-wrapper">
      <canvas
        class="chart-canvas"
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        [colors]="barChartColors"
      >
      </canvas>
    </div>
  </div>
</div>
